<?xml version="1.0" encoding="utf-8" ?>
<database>
  <dbProvider>
    <name>SQLite</name>
    <connectionString>Data Source=wangsql.db;</connectionString>
    <connectionType>System.Data.SQLite.SQLiteConnection,System.Data.SQLite</connectionType>
    <useParameterPrefixInSql>true</useParameterPrefixInSql>
    <useParameterPrefixInParameter>true</useParameterPrefixInParameter>
    <parameterPrefix>@</parameterPrefix>
    <useQuotationInSql>false</useQuotationInSql>
    <debug>false</debug>
  </dbProvider>
</database>