<?xml version="1.0" encoding="utf-8" ?>
<database>
  <dbName>Oracle</dbName>
  <connectionString>Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.4.180)(PORT = 1521))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = elaneweb)));User ID=elaneweb;Password=Elane.cn1234;</connectionString>
  <connectionType>Oracle.ManagedDataAccess.Client.OracleConnection,Oracle.ManagedDataAccess</connectionType>
  <useParameterPrefixInSql>true</useParameterPrefixInSql>
  <useParameterPrefixInParameter>true</useParameterPrefixInParameter>
  <parameterPrefix>:</parameterPrefix>
  <UseQuotationInSql>false</UseQuotationInSql>
  <debug>false</debug>
</database>